.helloImg {
    width: 100%;
    height: auto;
}

.button {
    color: var(--purple);
}

.container {
    h1 {
        font: 600 1.875rem "Inter", sans-serif;

        span {
            color: var(--purple);
        }
    }
}

.section {
    padding: 5rem 0;

    .container {
        margin: 0;
        display: grid;
        gap: 2rem;
    }

    .text {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
}
