.header {
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: var(--body-color);
    
}

.dividerHeader {
    height: 1px;
    background: linear-gradient(-180deg, #bcc5ce 0%, #929ead 98%),
        radial-gradient(at top left, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
}

.nav {
    height: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo{
    font: 600 1.875rem "Inter", sans-serif;
    font-size: 1.35rem;

    span {
        color: var(--purple);
    }
}

.container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

