.header {
    width: 100%;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: var(--body-color);

    .container {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    .nav {
        height: var(--header-height);
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            font: 600 1.875rem "Inter", sans-serif;
            font-size: 1.35rem;

            span {
                color: var(--purple);
            }
        }
    }
}

.container {
    .menu {
        opacity: 0;
        visibility: hidden;
    }
}

.nav {
    .menu {
        opacity: 1;
        visibility: visible;

        //background: var(--purple);

        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;

        .grid {
            display: grid;
            gap: 4rem;
        }

        ul li {
            text-align: center;
        }
    }
}

.nav {
    .menu {
        display: grid;
        place-content: center;
    }
}

.title {
    font: 600 1.875rem "Inter", sans-serif;

    transition: 0.2s;

    &:hover {
        color: var(--body-color);
    }
}

